* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li > a {
  display: block;
  position: relative;
  padding: 20px 15px 10px 15px;
  text-decoration: none;
}
nav ul li .link::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

nav ul li .link:hover::before {
  transform: scaleX(1);
}

nav ul li .link::before {
  background-color: black;
}
nav .menu {
  display: none;
  flex-direction: column;
  position: absolute;
  min-width: 200px;
}
nav .menu a {
  padding: 10px;
  text-decoration: none;
}

header {
  background-size: cover;
  background-position: center center;
  font-size: 12px;
  height: 100vh;
}

.more {
  display: none;
}

.show {
  display: flex !important;
}

.mobile {
  display: none;
  font-size: 24px;
  width: 100%;
  flex-direction: column;
}

.mobile .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile .links {
  display: none;
  flex-direction: column;
}

.mobile .links a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

/* Estilo para ambos modos */
.mobile .links a:hover {
  background-color: #222;
  color: #fff;
}

/*
--------------------------------------------------------------------
BANNER
--------------------------------------------------------------------
*/

#banner {
  font-size: 1.8em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 40px;
  width: 500px;
  position: absolute;
  top: 200px;
  right: 100px;
}

.green-button {
  border: none;
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 40px;
  background-color: greenyellow;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.green-button:hover {
  background-color: rgb(141, 214, 31);
}

.green-link {
  display: inline-flex;
  align-items: center;
  position: relative;
  border: none;
  padding: 5px;
  font-size: 14px;
  color: greenyellow;
  font-weight: bolder;
  text-decoration: none;
}

.green-link::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background-color: greenyellow;
  transition: transform 0.3s ease;
}

.green-link:hover::before {
  transform: scaleX(1);
}

/*
--------------------------------------------------------------------
VIDEOS
--------------------------------------------------------------------
*/

h2 {
  font-size: 3.8em;
  position: relative;
  display: inline-block;
}

h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -50px;
  background-color: greenyellow;

  transform: scale(0.4) skewY(-20deg) rotate(20deg);
}

h3 {
  font-size: 2em;
  padding-top: 50px;
}

.w-75 {
  width: 50%;
  margin: 0 auto;
}

#videos {
  text-align: center;
  padding: 50px 0;

  background-image: url(../img/bg-videos.png);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}
#videos-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  overflow: auto;
}
#videos-container .item {
  border: solid 1px #00c3ff;
  cursor: pointer;
  overflow: hidden;

  min-width: 320px;
  height: 180px;
}
#videos-container .item a {
  position: relative;
}
#videos-container .item:hover img {
  transition: opacity 0.3s ease;
  width: 320px;
  height: 180px;
  object-fit: contain;
}
#videos-container .item a::before {
  content: ">";
  color: white;
  z-index: 100;
  position: absolute;
  display: block;
  left: 135px;
  top: -95px;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  border: solid 1px #00c3ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#videos-container .item:hover img {
  opacity: 0.7;
}

#slider #current {
  width: 1280px;
  margin: 50px auto;
  border: solid 1px #00c3ff;
}
#slider #controls {
  display: flex;
  justify-content: center;
}

#slider #controls .left,
#slider #controls .right {
  border: none;
  height: 50px;
  width: 80px;
  background-color: rgb(58, 58, 58);
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

#slider #controls .left:hover,
#slider #controls .right:hover {
  background-color: rgb(37, 37, 37);
}

#slider #controls .left {
  border-radius: 5px 0 0 5px;
}
#slider #controls .right {
  border-radius: 0 5px 5px 0;
}
/*
--------------------------------------------------------------------
MULTIPLAYER
--------------------------------------------------------------------
*/
#multi-player {
  height: 100vh;
  background: url(../img//bg-multiplayer.jpeg);
  display: flex;
  align-items: center;
  justify-content: end;
}

.info {
  line-height: 1.2;
  padding: 40px;
  width: 600px;
  margin-right: 50px;
}
.info p {
  font-size: 20px;
}

/*
--------------------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------------------
*/
@media screen and (max-width: 1100px) {
  header {
    height: 50vh;
  }
  .link-hide {
    display: none;
  }

  .more {
    display: block;
  }

  #banner {
    position: static;
    width: 100%;
  }

  #slider #current {
    width: 80%;
  }
  #slider #current iframe {
    height: 500px;
  }

  #multi-player {
    background-position: center left;
  }

  .info {
    width: 600px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 622px) {
  header {
    height: 30vh;
  }
  nav {
    width: 100%;
    padding: 0;
  }
  nav ul {
    display: none;
  }

  nav .mobile {
    display: block;
  }

  #banner {
    font-size: 1.3em;
  }

  #slider #current {
    width: 90%;
  }

  #slider #current iframe {
    height: 300px;
  }
  #slider #videos-container {
    display: none;
  }

  #multi-player {
    background-position: -400px center;
  }

  .info {
    width: 90%;
    margin: 0 auto;
  }

  h2 {
    font-size: 2.3em;
    text-align: center;
  }
}
